h1, h4 {
    color: #6B8E23;
}

.frame {
    min-width: 900px;
}

.navButton {
    width: 200px;
    height: 50px;
    margin: 5px;
    background-color: #6B8E23;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}