<div class="frame">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img height="300" alt="Angular Logo" src="assets/prodyna.png">
    <h4>
      created by Miloš Vejnović
    </h4>
  </div>
  <div style="text-align:center">
    <button class="navButton" routerLink="/coding-challenge" routerLinkActive="active">Coding Challenge</button>
    <button class="navButton" routerLink="/read-me" routerLinkActive="active">Readme</button>
  </div>
</div>
<router-outlet></router-outlet>
